<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import type { Customer } from '@/appframework'
import { search, hasPermission } from '@/App.vue'

const { t } = useI18n()

function stub() {
  return { name: '' } as Customer
}

function filter(type: string, term: string, $event: MouseEvent) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  if ($event.ctrlKey && search.value !== undefined && search.value !== '') {
    search.value += ' ' + type + ':' + ($event.shiftKey ? '!' : '') + term
  } else {
    search.value = type + ':' + ($event.shiftKey ? '!' : '') + term
  }
  $event.preventDefault()
}
</script>

<template>
  <ListComponent type="customer" :stub="stub" name-column="name" :colspan-extra="3">
    <template #icon>
      <IBiPersonRolodex />
    </template>
    <template #header-extra>
      <BTh>{{ t('address') }}</BTh>
      <BTh>{{ t('identifiers') }}</BTh>
      <BTh>{{ t('coordinates') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd> {{ dto.address.street }} {{ dto.address.zip }} {{ dto.address.city }} </BTd>
      <BTd>
        <span
          v-for="identifier in dto.identifiers"
          :key="identifier.type"
          href="#"
          class="badge bg-secondary"
          style="cursor: pointer"
          @click="$event => filter(identifier.type, identifier.value, $event)"
          >{{ identifier.type }}: {{ identifier.value }}</span
        >
      </BTd>
      <BTd>
        <IBiCheck v-if="dto.address.lat" />
      </BTd>
    </template>
  </ListComponent>
  <BButton
    v-if="hasPermission('ADMIN_CUSTOMERS')"
    to="/customers/upload"
    class="btn-upload"
    :title="t('upload')"
  >
    <IBiUpload />
  </BButton>
</template>

<style>
.btn.btn-upload {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
