<template>
  <SingleComponent type="customer" :stub="stub" :pre-save="preSave">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="identifiers">
        <span v-for="(identifier, index) in post.identifiers" :key="index" class="row no-gutters">
          <Select v-model="identifier.type" :options="identifiertypes" class="col-sm-5" />
          <span class="col-sm-5">
            <BFormInput v-model="identifier.value" />
          </span>
          <BButton variant="danger" class="col-sm-2" @click="removeIdentifier(post, identifier)">{{
            t('remove')
          }}</BButton>
        </span>
        <BButton @click="addIdentifier(post)"> <IBiPlusCircle /> {{ t('add') }} </BButton>
      </LabelGroup>
      <LabelGroup label="street">
        <BFormInput v-model="post.address.street" />
      </LabelGroup>
      <LabelGroup label="zip">
        <BFormInput v-model="post.address.zip" />
      </LabelGroup>
      <LabelGroup label="city">
        <BFormInput v-model="post.address.city" />
      </LabelGroup>
      <LabelGroup label="contactdata">
        <span v-for="(contact, index) in post.contactdata" :key="index" class="row no-gutters">
          <Select v-model="contact.type" :options="contactdatatypes" class="w-50 pe-3" />
          <BFormInput v-model="contact.value" class="form-control w-50" />
        </span>
      </LabelGroup>
    </template>
    <template #appendix="{ post }">
      <div style="height: 480px; width: 640px" v-if="post.address?.lat && post.address?.lon">
        <l-map
          :center="[post.address.lat, post.address.lon]"
          :use-global-leaflet="false"
          :zoom="10"
        >
          <l-layer-group name="region">
            <l-tile-layer
              url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
              layer-type="base"
              name="OpenStreetMap"
              :min-zoom="5"
              :max-zoom="18"
              attribution='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            ></l-tile-layer>
            <l-marker :lat-lng="[post.address.lat, post.address.lon]">
              <l-icon
                :icon-url="getIconUrl(post)"
                :icon-size="[25, 41]"
                class="my-div-icon"
                :icon-anchor="[12, 41]"
                :popup-anchor="[1, -34]"
                :shadow-size="[41, 41]"
                :tooltip-anchor="[16, -28]"
              />
            </l-marker>
          </l-layer-group>
        </l-map>
      </div>
      <BButton
        @click="geocode(post)"
        v-if="post.id && !post.address.lat"
        class="btn-geocode"
        :title="t('geocode')"
      >
        <IBiGeo />
      </BButton>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import 'leaflet/dist/leaflet.css'
import { ref, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { LMap, LMarker, LIcon, LTileLayer, LLayerGroup } from '@vue-leaflet/vue-leaflet'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Customer, Identifier, Type } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

function stub() {
  return {
    address: {},
    identifiers: [] as Identifier[]
  } as Customer
}

function preSave(customer: Customer) {
  const identifiers = []
  for (const identifier of customer.identifiers) {
    if (typeof identifier.type === 'object') {
      identifiers.push({ type: (identifier.type as any).name, value: identifier.value })
    } else {
      identifiers.push(identifier)
    }
  }
  customer.identifiers = identifiers
}

const identifiertypes: Ref<string[]> = ref([])
const contactdatatypes: Ref<Type[]> = ref([])
async function init() {
  identifiertypes.value = await getExisting('customerimport/identifiertypes')
  let exists = false
  for (const identifiertype of identifiertypes.value) {
    if (identifiertype === 'regiongroup') {
      exists = true
      break
    }
  }
  if (!exists) {
    identifiertypes.value.push('regiongroup')
  }
  contactdatatypes.value = await getExisting('customerimport/contactdatatypes')
}
init()

function addIdentifier(customer: Customer) {
  customer.identifiers.push({} as Identifier)
}

function removeIdentifier(customer: Customer, identifier: Identifier) {
  const index = customer.identifiers.indexOf(identifier)
  if (index !== -1) {
    customer.identifiers.splice(index, 1)
  }
}

function getIconUrl(customer: Customer) {
  for (const identifier of customer.identifiers) {
    if ('regiongroup' === identifier.type) {
      return `/rest/regiongroup/${identifier.value}.svg`
    }
  }
  return '/rest/regiongroup/default.svg'
}

async function geocode(customer: Customer) {
  const coordinates = (await getExisting(`customer/geocode/${customer.id}`)) as number[]
  if (coordinates[0]) {
    customer.address.lat = coordinates[0]
    customer.address.lon = coordinates[1]
  }
}
</script>

<style>
.btn.btn-geocode {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
