<template>
  <SingleComponent type="fair" :stub="stub">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="start">
        <DatePicker id="control_id_start" v-model="post.start" :locale="getDatepickerFormat()" />
      </LabelGroup>
      <LabelGroup label="end">
        <DatePicker id="control_id_end" v-model="post.end" :locale="getDatepickerFormat()" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Fair } from '@/appframework'
import { getDatepickerFormat } from '@/appframework/lib/i18n'

function stub() {
  return {} as Fair
}
</script>
