<script setup lang="ts">
import type { Fair } from '@/appframework'

function stub() {
  return { name: '' } as Fair
}
</script>

<template>
  <ListComponent type="fair" :stub="stub" name-column="name" :colspan-extra="2">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="start" :pager="pager" :order="order" />
      <SortableColumnHeader predicate="end" :pager="pager" :order="order" />
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.start }}
      </BTd>
      <BTd>
        {{ dto.end }}
      </BTd>
    </template>
  </ListComponent>
</template>
