<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { isPast } from 'date-fns'
import { useI18n } from 'vue-i18n'

import type { Fair, User } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'
import { appState } from '../store'
const { t } = useI18n()

const fairs: Ref<Fair[]> = ref([])
const fair: Ref<Fair> = ref(undefined as unknown as Fair)
const users: Ref<User[]> = ref([])
const user: Ref<User> = ref(undefined as unknown as User)

async function init() {
  fairs.value = await getExisting('fair')
  // Select current fair if possible
  for (const fair_ of fairs.value) {
    fair_.start = new Date(fair_.start)
    fair_.end = new Date(fair_.end)
    if (fair_.start <= new Date() && fair_.end >= new Date()) {
      fair.value = fair_
    }
  }

  users.value = await getExisting('user')
  // Select current user if possible
  const state = appState()
  for (const user_ of users.value) {
    if (user_.login === state.value.user.username) {
      user.value = user_
    }
  }
}
init()
</script>
<template>
  <h1 class="page-header">{{ t('step_1_select_customer') }}</h1>

  <LabelGroupComponent label="fair">
    <Select v-model="fair" :options="fairs" option-label="name" class="col-sm-6">
      <template #option="slotProps">
        <div :class="{ past: isPast(fair.end) }">{{ slotProps.option.name }}</div>
      </template>
    </Select>
  </LabelGroupComponent>

  <LabelGroupComponent label="user">
    <Select v-model="user" :options="users" option-label="name" class="col-sm-6" />
  </LabelGroupComponent>
</template>

<style>
.past {
  color: #888;
}
</style>
