<template>
  <div style="height: 750px; width: 100%">
    <l-map
      v-model:zoom="zoom"
      v-model:bounds="bounds"
      :center="[52.0152, 8.5652]"
      :use-global-leaflet="false"
    >
      <l-tile-layer
        url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        layer-type="base"
        name="OpenStreetMap"
        :min-zoom="5"
        :max-zoom="18"
        attribution='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      ></l-tile-layer>
      <l-layer-group
        v-if="hasPermission('SHOW_REGIONGROUPS')"
        ref="regionsLayer"
        :name="t('regions')"
        layer-type="overlay"
      >
        <l-polygon
          v-for="(array, index) of regions"
          :key="index"
          :lat-lngs="array.region.geom"
          :color="`#${array.group.color}`"
        >
          <l-popup>
            {{ t('zip') }}: {{ array.region.zip }} <br /><IBiCompass /> {{ array.group.name }}
          </l-popup>
        </l-polygon>
      </l-layer-group>
      <l-layer-group
        v-if="hasPermission('SHOW_CUSTOMERS')"
        ref="customerLayer"
        :name="t('customers')"
        layer-type="overlay"
      >
        <l-marker
          v-for="customer in customers"
          :key="customer.id"
          :lat-lng="[customer.address.lat, customer.address.lon]"
        >
          <l-icon
            :icon-url="getIconUrl(customer)"
            :icon-size="[25, 41]"
            class="my-div-icon"
            :icon-anchor="[12, 41]"
            :popup-anchor="[1, -34]"
            :shadow-size="[41, 41]"
            :tooltip-anchor="[16, -28]"
          />
          <l-popup>
            <b
              ><RouterLink :to="`customers/${customer.id}`">{{ customer.name }}</RouterLink></b
            ><br />
            {{ customer.address.street }} <br />
            {{ customer.address.zip }} {{ customer.address.city }}
            <span v-for="(contact, index) in customer.contactdata" :key="index">
              <br />
              <IBiTelephoneFill v-if="contact.type === 'LANDLINE'" />
              <IBiPhone v-else-if="contact.type === 'MOBILE'" />
              <IBiPrinter v-else-if="contact.type === 'FAX'" />
              <IBiEnvelope v-else-if="contact.type === 'EMAIL'" />
              <IBiGlobe2 v-else-if="contact.type === 'WEBSITE'" />
              <IBiQuestionLg v-else />
              {{ contact.value }}
            </span>
            <span v-for="identifier in customer.identifiers" :key="identifier.type">
              <br />
              <span v-if="identifier.type === 'regiongroup'">
                <IBiCompass /><span>{{ getRegionGroupName(identifier.value) }}</span>
              </span>
              <span v-else>{{ identifier.type }}: {{ identifier.value }} </span>
            </span>
          </l-popup>
        </l-marker>
      </l-layer-group>
      <l-layer-group
        v-for="regiongroup of regiongroups"
        :key="regiongroup.id"
        :name="regiongroup.name"
        layer-type="overlay"
      />
      <l-control-layers />
    </l-map>
  </div>
</template>

<script lang="ts" setup>
import 'leaflet/dist/leaflet.css'
import { ref, useTemplateRef, type Ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'
import {
  LMap,
  LTileLayer,
  LLayerGroup,
  LIcon,
  LMarker,
  LPopup,
  LPolygon,
  LControlLayers
} from '@vue-leaflet/vue-leaflet'
import { hasPermission } from '@/App.vue'
import { getExisting, saveNew } from '@/appframework/lib/rest'
import type { RegionGroupRegion, Customer, RegionGroup } from '@/appframework'

const regionsLayer = useTemplateRef('regionsLayer')
const customerLayer = useTemplateRef('customerLayer')

const { t } = useI18n()

const zoom = ref(11)
const bounds = ref({} as { _northEast: number; _southWest: number })

const regiongroups: Ref<RegionGroup[]> = ref([])
const regiongroupIdLookup: Ref<Record<number, RegionGroup>> = ref({})
const regiongroupNameLookup: Ref<Record<string, RegionGroup>> = ref({})
const customers: Ref<Customer[]> = ref([])
const regions: Ref<RegionGroupRegion[]> = ref([])

async function init() {
  regiongroups.value = (await getExisting(
    'regiongroup?sortColumn=name&ascending=true'
  )) as RegionGroup[]
  for (const regiongroup of regiongroups.value) {
    regiongroupIdLookup.value[regiongroup.id] = regiongroup
    regiongroupNameLookup.value[regiongroup.name] = regiongroup
    for (const alias of regiongroup.alias || []) {
      regiongroupNameLookup.value[alias] = regiongroup
    }
  }
  fetchCustomersAndRegions()
}
init()

function getRegionGroupName(identifier: string) {
  const identifierInt = parseInt(identifier)
  let regiongroup = undefined
  if (isNaN(identifierInt)) {
    regiongroup = regiongroupNameLookup.value[identifier]
  } else {
    regiongroup = regiongroupIdLookup.value[identifierInt]
  }
  if (regiongroup) {
    return regiongroup.name
  }
  console.log('Could not find regiongroup', identifier)
  return identifier
}

async function fetchCustomersAndRegions() {
  const request = {
    northEast: bounds.value._northEast,
    southWest: bounds.value._southWest,
    zoom: zoom.value
  }
  customers.value = await (await saveNew('customer/within', request)).json()
  regions.value = await (await saveNew('region/within', request)).json()
}
watch(() => bounds.value, fetchCustomersAndRegions, { immediate: false })

function getIconUrl(customer: Customer) {
  for (const identifier of customer.identifiers) {
    if ('regiongroup' === identifier.type) {
      return `/rest/regiongroup/${identifier.value}.svg`
    }
  }
  return '/rest/regiongroup/default.svg'
}

/*
async function loadByBounds(mymap: any, layerControl: Record<string, any>) {
  const bounds = mymap.getBounds()
  const request = {
    northEast: bounds._northEast,
    southWest: bounds._southWest,
    zoom: mymap.getZoom()
  }

  const response = await saveNew('heatmap/within', request)
  for (const element of await response.json()) {
    layerControl[element.name].clearLayers()
    layerControl[element.name].addLayer(L.heatLayer(element.coordinates, { radius: 25 }))
  }
}
*/
</script>
