<script setup lang="ts">
import type { Offer } from '@/appframework'

function stub() {
  return {} as Offer
}
</script>

<template>
  <ListComponent type="offer" :stub="stub" name-column="nafairIdme" :colspan-extra="2">
  </ListComponent>
</template>
