<template>
  <SingleComponent type="offer" :stub="stub"> </SingleComponent>
</template>

<script setup lang="ts">
import type { Offer } from '@/appframework'

function stub() {
  return {} as Offer
}
</script>
