<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

import type { Product, ProductGroup } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

function stub() {
  return { name: '' } as Product
}

const productgroups = ref({} as Record<number, ProductGroup>)
async function init() {
  const productgroups_ = (await getExisting('productgroup')) as ProductGroup[]
  for (const productgroup of productgroups_) {
    productgroups.value[productgroup.id] = productgroup
  }
}
init()

function productgroupsAsText(productGroupIds: number[]) {
  if (productGroupIds) {
    let result = ''
    for (const productGroupId of productGroupIds) {
      if (result !== '') {
        result += ', '
      }
      result += productgroups.value[productGroupId].name
    }
    return result
  } else {
    return '-'
  }
}
</script>

<template>
  <ListComponent type="product" :stub="stub" name-column="name" :colspan-extra="1">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #header-extra>
      <BTh>{{ t('productgroups') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ productgroupsAsText(dto.productGroupIds) }}
      </BTd>
    </template>
  </ListComponent>
</template>
