<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1 class="header">
      <IBiCalendar />
      <span>{{ post.name }}</span>
    </h1>
    <BreadcrumbElement type="products" :element="post" />

    <form class="form-horizontal">
      <LabelGroup label="name">
        <input id="control_id_name" v-model="post.name" type="text" class="form-control" />
      </LabelGroup>
      <LabelGroup label="productgroup">
        <span
          v-for="productgroup in productgroups"
          :key="productgroup.id"
          class="card w-25 ml-4 mb-4"
          :style="{ 'background-color': productgroup.color }"
        >
          <div class="card-body" @click="toggleProductgroup(productgroup)">
            <h5 class="card-title">{{ productgroup.name }}</h5>
            <IBiCheck
              v-if="hasProductgroup(productgroup)"
              style="position: absolute; top: 8px; right: 8px"
            />
          </div>
        </span>
      </LabelGroup>
      <div class="form-group row">
        <span class="col-sm-2 control-label">{{ t('costs_revenues') }}</span>
        <div class="col-sm-5 label-group-content">
          <div v-for="(cost, index) in post.costs" :key="index" class="row">
            <input v-model="cost.amount" class="form-control w-25" />
            <input v-model="cost.interval" class="form-control w-25" />
            <button class="btn btn-sm btn-danger" @click="removeCost(cost)">
              <IBiTrash /> {{ t('remove') }}
            </button>
          </div>
          <button class="btn btn-sm btn-success" @click="addCost()">
            <IBiPlusCircle /> {{ t('add') }}
          </button>
        </div>
        <div class="col-sm-5 label-group-content">
          <div v-for="(revenue, index) in post.revenues" :key="index" class="row">
            <input v-model="revenue.amount" class="form-control w-25" />
            <input v-model="revenue.interval" class="form-control w-25" />
            <button class="btn btn-sm btn-danger" @click="removeRevenue(revenue)">
              <IBiTrash /> {{ t('remove') }}
            </button>
          </div>
          <button class="btn btn-sm btn-success" @click="addRevenue()">
            <IBiPlusCircle /> {{ t('add') }}
          </button>
        </div>
      </div>
      <BButton variant="primary" @click="save()"> <IBiFloppy /> {{ t('save') }} </BButton>
    </form>
  </LoadingComponent>
</template>

<script setup lang="ts">
import { ref, watch, type Ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { saveNew, saveExisting, getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { Cost, Product, ProductGroup, Revenue } from '@/appframework'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()

const loading = ref(false)
const post = ref(null as unknown as Product)
const error = ref(null as unknown as string)

async function save() {
  if (post.value.id) {
    await saveExisting('product', post.value, parseInt(route.params.id as string))
  } else {
    await saveNew('product', post.value)
  }
  await router.push(`/products`)
}
const isClone = route.path.slice(0, '/products/clone'.length) === '/products/clone'

if (route.params.id === 'new') {
  post.value = {
    productGroupIds: [] as number[],
    costs: [] as Cost[],
    revenues: [] as Revenue[]
  } as Product
} else {
  watch(
    () => route.params.id as string,
    (id: string) => {
      fetchData(parseInt(id))
    },
    { immediate: true }
  )
}

const productgroups: Ref<ProductGroup[]> = ref([])
async function init() {
  productgroups.value = await getExisting('productgroup')
}
init()

async function fetchData(id: number) {
  error.value = null as unknown as string
  post.value = null as unknown as Product
  loading.value = true

  try {
    post.value = await getExisting(`product/${id}`)
    if (isClone) {
      post.value.name = t('clone_of', { element: post.value.name })
      post.value.id = undefined as unknown as number
    }
  } catch (err: any) {
    error.value = err.toString()
  } finally {
    loading.value = false
  }
}

function toggleProductgroup(productgroup: ProductGroup) {
  const index = post.value.productGroupIds.indexOf(productgroup.id)
  if (index !== -1) {
    post.value.productGroupIds.splice(index, 1)
  } else {
    post.value.productGroupIds.push(productgroup.id)
  }
}

function hasProductgroup(productgroup: ProductGroup) {
  const index = post.value.productGroupIds.indexOf(productgroup.id)
  return index !== -1
}

function removeCost(cost: Cost) {
  const index = post.value.costs.indexOf(cost)
  post.value.costs.splice(index, 1)
}

function addCost() {
  post.value.costs.push({ amount: 0, interval: 'QUARTERLY' } as Cost)
}

function removeRevenue(revenue: Revenue) {
  const index = post.value.revenues.indexOf(revenue)
  post.value.revenues.splice(index, 1)
}

function addRevenue() {
  post.value.revenues.push({ amount: 0, interval: 'QUARTERLY' } as Revenue)
}
</script>
