<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1 class="header">
      <IBiArchive />
      <span>{{ post.name }}</span>
    </h1>
    <BreadcrumbElement type="productgroups" :element="post" />

    <form class="form-horizontal">
      <LabelGroup label="name">
        <input id="control_id_name" v-model="post.name" type="text" class="form-control" />
      </LabelGroup>
      <LabelGroup label="color">
        <ColorPickerComponent v-model="post.color" />
      </LabelGroup>
      <BButton variant="primary" @click="save()"> <IBiFloppy /> {{ t('save') }} </BButton>
    </form>
  </LoadingComponent>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { saveNew, saveExisting, getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { ProductGroup } from '@/appframework'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()

const loading = ref(false)
const post = ref(null as unknown as ProductGroup)
const error = ref(null as unknown as string)

async function save() {
  if (post.value.id) {
    await saveExisting('productgroup', post.value, parseInt(route.params.id as string))
  } else {
    await saveNew('productgroup', post.value)
  }
  await router.push(`/productgroups`)
}
const isClone = route.path.slice(0, '/productgroups/clone'.length) === '/productgroups/clone'

if (route.params.id === 'new') {
  post.value = {} as ProductGroup
} else {
  watch(
    () => route.params.id as string,
    (id: string) => {
      fetchData(parseInt(id))
    },
    { immediate: true }
  )
}

async function fetchData(id: number) {
  error.value = null as unknown as string
  post.value = null as unknown as ProductGroup
  loading.value = true

  try {
    post.value = await getExisting(`productgroup/${id}`)
    if (isClone) {
      post.value.name = t('clone_of', { element: post.value.name })
      post.value.id = undefined as unknown as number
    }
  } catch (err: any) {
    error.value = err.toString()
  } finally {
    loading.value = false
  }
}
</script>
