<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import type { ProductGroup } from '@/appframework'

const { t } = useI18n()

function stub() {
  return { name: '' } as ProductGroup
}
</script>

<template>
  <ListComponent type="productgroup" :stub="stub" name-column="name" :colspan-extra="1">
    <template #icon>
      <IBiArchive />
    </template>
    <template #header-extra>
      <BTh>{{ t('color') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <i class="color-block" :style="{ 'background-color': `#${dto.color}` }"></i>
      </BTd>
    </template>
  </ListComponent>
</template>

<style>
.color-block {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 4px;
}
</style>
