<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1 class="header">
      <IBiCalendar />
      <span>{{ post.customerId }}</span>
    </h1>
    <BreadcrumbElement type="quotations" :element="post" />

    <form class="form-horizontal">
      <LabelGroup label="customer">
        <Select
          v-model="post.customerId"
          :options="customers"
          option-label="name"
          option-value="id"
        />
      </LabelGroup>
      <BButton variant="primary" @click="save()"> <IBiFloppy /> {{ t('save') }} </BButton>
    </form>
  </LoadingComponent>
</template>

<script setup lang="ts">
import { ref, watch, type Ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { saveNew, saveExisting, getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { Customer, Quotation } from '@/appframework'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()

const loading = ref(false)
const post = ref(null as unknown as Quotation)
const error = ref(null as unknown as string)

const customers: Ref<Customer[]> = ref([])

async function init() {
  customers.value = await getExisting('customer')
}
init()

async function save() {
  if (post.value.id) {
    await saveExisting('quotation', post.value, parseInt(route.params.id as string))
  } else {
    await saveNew('quotation', post.value)
  }
  await router.push(`/quotations`)
}
const isClone = route.path.slice(0, '/quotations/clone'.length) === '/quotations/clone'

if (route.params.id === 'new') {
  post.value = {} as Quotation
} else {
  watch(
    () => route.params.id as string,
    (id: string) => {
      fetchData(parseInt(id))
    },
    { immediate: true }
  )
}

async function fetchData(id: number) {
  error.value = null as unknown as string
  post.value = null as unknown as Quotation
  loading.value = true

  try {
    post.value = await getExisting(`quotation/${id}`)
    if (isClone) {
      post.value.id = undefined as unknown as number
    }
  } catch (err: any) {
    error.value = err.toString()
  } finally {
    loading.value = false
  }
}
</script>
