<script setup lang="ts">
import type { Quotation } from '@/appframework'

function stub() {
  return {} as Quotation
}
</script>

<template>
  <ListComponent type="quotation" :stub="stub" name-column="customer" :colspan-extra="2">
    <template #icon>
      <IBiCalendar />
    </template>
  </ListComponent>
</template>
