<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import type { Region } from '@/appframework'

const { t } = useI18n()

function stub() {
  return {} as Region
}
</script>

<template>
  <ListComponent type="region" :stub="stub" name-column="zip" :colspan-extra="2">
    <template #icon>
      <IBiGlobe />
    </template>
  </ListComponent>
  <BButton to="/regions/upload" class="btn-upload" :title="t('upload')">
    <IBiUpload />
  </BButton>
</template>

<style>
.btn.btn-upload {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
