<template>
  <SingleComponent type="regiongroup" :stub="stub">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="color">
        <ColorPickerComponent v-model="post.color" :alternatives="colors" />
      </LabelGroup>
      <LabelGroup label="alias">
        <div v-for="(alias, index) in post.alias" :key="index">
          <BInputGroup>
            <BFormInput v-model="post.alias[index]"> </BFormInput>
            <template #append>
              <BButton
                size="sm"
                variant="danger"
                class="float-end"
                @click="removeAlias(post, index)"
              >
                <IBiDash />
              </BButton>
            </template>
          </BInputGroup>
        </div>
        <BButton variant="success" size="sm" @click="addAlias(post)">
          <IBiPlus />
        </BButton>
      </LabelGroup>
      <LabelGroup label="zips">
        <div class="row">
          <span class="col-sm-5">{{ t('from') }}</span>
          <span class="col-sm-5">{{ t('to') }}</span>
          <span class="col-sm-2"></span>
        </div>
        <div v-for="(zip, index) in post.zips" :key="index" class="row mb-2 no-gutters">
          <span class="col-sm-5"
            ><input v-model="post.zips[index].from" class="form-control" type="text"
          /></span>
          <span class="col-sm-5">
            <input v-model="post.zips[index].to" class="form-control" type="text" />
          </span>
          <BButton
            v-if="hasPermission('ADMIN_CUSTOMERS')"
            variant="danger"
            class="col-sm-2"
            @click="removeZip(post, zip)"
          >
            {{ t('remove') }}
          </BButton>
        </div>
        <BButton v-if="hasPermission('ADMIN_CUSTOMERS')" variant="success" @click="addZip(post)">
          {{ t('add') }}
        </BButton>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { RegionGroup, RegionGroupZip } from '@/appframework'
import { hasPermission } from '@/App.vue'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

const colors: Ref<string[]> = ref([])

async function init() {
  colors.value = await getExisting('regiongroup/colors')
}
init()

function stub() {
  return {
    name: '',
    color: '000000',
    zips: [{}] as RegionGroupZip[],
    alias: [] as string[]
  } as RegionGroup
}

function addZip(regiongroup: RegionGroup) {
  regiongroup.zips.push({} as RegionGroupZip)
}

function removeZip(regiongroup: RegionGroup, zip: RegionGroupZip) {
  const index = regiongroup.zips.indexOf(zip)
  if (index !== -1) {
    regiongroup.zips.splice(index, 1)
  }
}

function removeAlias(regiongroup: RegionGroup, index: number) {
  regiongroup.alias.splice(index, 1)
}

function addAlias(regiongroup: RegionGroup) {
  regiongroup.alias.push('')
}
</script>
