<template>
  <SingleComponent ref="single" type="region" :stub="stub" name-column="zip">
    <template #icon>
      <IBiGlobe />
    </template>
    <template #appendix="{ post }">
      <div style="height: 480px; width: 640px">
        <l-map :center="center" :use-global-leaflet="false" :zoom="10">
          <l-layer-group name="region">
            <l-tile-layer
              url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
              layer-type="base"
              name="OpenStreetMap"
              :min-zoom="5"
              :max-zoom="18"
              attribution='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            ></l-tile-layer>
            <l-polygon :lat-lngs="post.geom"> </l-polygon>
          </l-layer-group>
        </l-map>
      </div>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import 'leaflet/dist/leaflet.css'
import type { Region } from '@/appframework'
import { computed, useTemplateRef } from 'vue'

import { LMap, LPolygon, LTileLayer, LLayerGroup } from '@vue-leaflet/vue-leaflet'

const single = useTemplateRef('single')
const center = computed(() => {
  // @ts-ignore
  const region: Region | undefined = single.value?.post
  if (!region) {
    return [52.0152, 8.5652]
  }
  let latMin = 10000.0
  let latMax = 0
  let lngMin = 10000.0
  let lngMax = 0.0
  for (const point of region.geom) {
    latMin = Math.min(point.lat, latMin)
    latMax = Math.max(point.lat, latMax)
    lngMin = Math.min(point.lng, lngMin)
    lngMax = Math.max(point.lng, lngMax)
  }

  return [(latMin + latMax) / 2, (lngMin + lngMax) / 2]
})

function stub() {
  return {} as Region
}
</script>
