<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import type { RegionGroup } from '@/appframework'

const { t } = useI18n()

function stub() {
  return { name: '' } as RegionGroup
}
</script>

<template>
  <ListComponent type="regiongroup" :stub="stub" name-column="name" :colspan-extra="1">
    <template #icon>
      <IBiCalendar />
    </template>
    <template #header-extra>
      <BTh>{{ t('alias') }}</BTh>
    </template>
    <template #name-content="{ dto }">
      <RouterLink :to="`/regiongroups/${dto.id}`"
        ><i class="color-info" :style="{ 'background-color': `#${dto.color}` }"></i
        >{{ dto.name }}</RouterLink
      >
    </template>
    <template #body-extra="{ dto }">
      <BTd
        ><span v-for="(alias, index) in dto.alias" :key="index" class="me-2">{{ alias }}</span></BTd
      >
    </template>
  </ListComponent>
  <BButton to="/regiongroups/upload" class="btn-upload" :title="t('upload')">
    <IBiUpload />
  </BButton>
</template>

<style>
.btn.btn-upload {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
