<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useToast } from 'primevue/usetoast'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { BFormCheckbox } from 'bootstrap-vue-next'
import type { FileUploadUploaderEvent } from 'primevue/fileupload'
import { postData } from '@/appframework/lib/rest'
import type { ImportResult, Progress } from '@/appframework'

const { t } = useI18n()
const toast = useToast()

const remove_existing = ref(false)
const include = ref('')

let ws: WebSocket
const progress = ref({} as unknown as Progress<ImportResult>)
const progressVisible = ref(false)

async function uploadFile(event: FileUploadUploaderEvent) {
  const file = Array.isArray(event.files) ? event.files[0] : event.files

  const formData = new FormData()
  formData.append('file', file)
  formData.append('filename', file.name)
  formData.append('removeExisting', remove_existing.value ? 'true' : 'false')
  formData.append('include', include.value)
  const response = await postData('regionimport', formData)
  if (response.status === 200) {
    progressVisible.value = true
    ws = new WebSocket('/async/progress/' + (await response.text()))

    ws.onmessage = function (event) {
      progress.value = JSON.parse(event.data)
      if (progress.value.completed) {
        ws.close()
        progressVisible.value = false
        if (!progress.value.success) {
          toast.add({
            summary: t('region_import_failed'),
            detail: progress.value.message,
            severity: 'error'
          })
        } else {
          toast.add({
            summary: t('region_import_completed'),
            severity: 'info',
            life: 5000
          })
        }
        ws = undefined as unknown as WebSocket
      }
    }
    ws.onerror = function () {
      toast.add({
        summary: t('region_import_failed'),
        severity: 'error'
      })
      ws.close()
      progressVisible.value = false
      ws = undefined as unknown as WebSocket
    }
  } else {
    const data = await response.json()
    toast.add({
      severity: 'error',
      summary: t('region_import_failed'),
      detail: data
    })
  }
}
</script>

<template>
  <h1 class="header">
    <IBiUpload />
    <span class="ms-2">{{ t('drop_files_to_upload') }}</span>
  </h1>
  <BBreadcrumb>
    <BBreadcrumbItem to="/regions">{{ t('regions') }}</BBreadcrumbItem>
    <BBreadcrumbItem active>{{ t('upload') }}</BBreadcrumbItem>
  </BBreadcrumb>
  <p>
    Please fetch a recent copy from of plz-5stellig.shp.zip or plz-gebiete.osm.pbf from
    <a href="https://www.suche-postleitzahl.org/downloads" target="_blank"
      >www.suche-postleitzahl.org/downloads</a
    >.
  </p>

  <form name="myForm">
    <LabelGroup label="remove_existing">
      <BFormCheckbox v-model="remove_existing" />
    </LabelGroup>
    <LabelGroup label="include_zips">
      <BFormInput v-model="include" />
    </LabelGroup>
    <FileUpload
      id="control_id_icon"
      mode="basic"
      name="file"
      custom-upload
      :auto="true"
      @uploader="uploadFile($event)"
    >
      <template #empty>
        {{ t('drop_files_to_upload') }}
      </template>
    </FileUpload>
    <ProgressComponent
      :visible="progressVisible"
      :title="t('import_regions')"
      :progress="progress"
    />
  </form>
</template>
