@import '../appframework/css/appframework.css';

/* Workaround for ridiciulously largy arrows in uib bootstrap 4 */
div.uib-datepicker i.fa-svg-icon > svg {
  width: 10px;
  height: 10px;
}

ul.navbar-nav li.dropdown {
  cursor: pointer;
}

.color-info {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 4px;
}

.column-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 100%;
  min-height: 38px;
  padding: 3px;
  transition:
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
}

.column-container:hover {
  border: 1px solid #66afe9;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.column-container .column {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
  margin: 2px;
  padding: 0 5px;
}

.column-container .column-placeholder {
  background: #89b2d5;
  border: 1px solid #6c98bf;
  border-radius: 4px;
  color: #fff;
  height: 24px;
  margin: 2px;
  padding: 0 5px;
}

html,
#page-wrapper,
#mapid {
  height: 100%;
}

body {
  height: 93%;
}

/* Workaround for bad styling with bootstrap 4 */
.input-group .color-picker-input {
  width: 100%;
}

i.black {
  color: black;
}

i.grey {
  color: lightgrey;
}
