<script lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import { appState, isLoggedIn } from './store'
// TODO: This is a hack, as importing './appframework' wouldn't work
interface VersionInformation {
  maven: string
  git: string
  buildTimestamp: Date
}
import { getExisting } from '@/appframework/lib/rest'
import { usePrimeVue } from 'primevue/config'

const buildTimestamp = ref(new Date(BUILD_TIMESTAMP))
const appVersion = ref(APP_VERSION)

export const currentModule = function () {
  const route = useRoute()
  let currentPath = route.path
  if (currentPath.startsWith('/')) {
    currentPath = currentPath.substring(1)
  }
  const firstSlash = currentPath.indexOf('/')
  if (firstSlash >= 0) {
    currentPath = currentPath.substring(0, firstSlash)
  }
  return currentPath
}

export const hasPermission = function (permission: string) {
  const state = appState()
  return state.value.permissions.indexOf(permission) >= 0
}

const serverVersion = ref('')
async function init() {
  const serverVersionInformation = (await getExisting('version_info')) as VersionInformation
  serverVersion.value = serverVersionInformation.maven
  if (
    serverVersion.value.indexOf('-SNAPSHOT', serverVersion.value.length - '-SNAPSHOT'.length) !== -1
  ) {
    serverVersion.value += ' (' + serverVersionInformation.git + ')'
  }
  if (serverVersionInformation.buildTimestamp) {
    serverVersion.value +=
      ' - ' + format(serverVersionInformation.buildTimestamp, 'Ppp', { locale: getDfnsLocale() })
  }
}
init()

export const search = ref('')
</script>
<script setup lang="ts">
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'
import { RouterView } from 'vue-router'
import PermissionLink from '@/appframework/components/PermissionLinkComponent.vue'
import { getDfnsLocale } from '@/appframework/lib/i18n'
import { de as pDe } from 'primelocale/de.json'
import { en as pEn } from 'primelocale/en.json'

const { t } = useI18n()

function initLocale() {
  const primevue = usePrimeVue()
  primevue.config.locale = appState().value.locale === 'de' ? pDe : pEn
}
initLocale()
</script>

<template>
  <header>
    <BNavbar
      v-b-color-mode="'dark'"
      toggleable="lg"
      variant="dark"
      :title="
        appVersion +
        ' (' +
        format(buildTimestamp, 'Ppp', { locale: getDfnsLocale() }) +
        ')' +
        ' - ' +
        serverVersion
      "
    >
      <BNavbarBrand to="/">Fair planner</BNavbarBrand>
      <BNavbarToggle target="nav-collapse" />
      <BCollapse id="nav-collapse" is-nav>
        <BNavbarNav>
          <BNavItem v-if="hasPermission('SHOW_CUSTOMERS')" id="menu_customers" to="/customers">
            <IBiPersonRolodex /> {{ t('customers') }}
          </BNavItem>

          <BNavItemDropdown v-if="isLoggedIn()" right>
            <template #button-content> <IBiGearFill /> {{ t('administration') }} </template>
            <PermissionLink permission="SHOW_ROLES" module="roles">
              <template #icon><IBiPuzzle /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_USERS" module="users">
              <template #icon><IBiPersonFill /></template>
            </PermissionLink>
            <BDropdownDivider />
            <PermissionLink permission="SHOW_FAIRS" module="fairs">
              <template #icon><IBiCalendar /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_PRODUCTS" module="products">
              <template #icon><IBiCash /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_PRODUCTGROUPS" module="productgroups">
              <template #icon><IBiArchive /></template>
            </PermissionLink>
            <BDropdownDivider />
            <PermissionLink permission="SHOW_REGIONS" module="regions">
              <template #icon><IBiGlobe /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_REGIONGROUPS" module="regiongroups">
              <template #icon><IBiCloud /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_QUOTATIONS" module="quotations">
              <template #icon><IBiQuote /></template>
            </PermissionLink>
          </BNavItemDropdown>
        </BNavbarNav>
        <!-- Right aligned nav items -->
        <BNavbarNav class="ms-auto mb-2 mb-lg-0">
          <BNavItem v-if="isLoggedIn()" id="menu_profile" to="/profile">
            <IBiPersonVcard /> {{ t('profile') }}
          </BNavItem>
          <BNavItem v-if="isLoggedIn()" id="menu_logout" to="/logout">
            <IBiPower /> {{ t('logout') }}
          </BNavItem>
        </BNavbarNav>

        <BNavForm v-if="isLoggedIn()" class="ms-auto d-flex">
          <BFormInput
            id="site_search"
            v-model="search"
            class="me-sm-2"
            :placeholder="t('search')"
          />
        </BNavForm>
      </BCollapse>
    </BNavbar>
  </header>

  <div class="container">
    <RouterView />
    <Toast />
  </div>
</template>
